{% extends "base.html" %}


{% block title %}
Tekmovalci po državi
{% endblock %}



{% block content %}


<h2>Tekmovalci izbrane države</h2>


<form method="GET">

<label for="drzava">Država:</label>

<select id="drzava" name="drzava" required>
<option value="">Izberi državo</option>
{% for drzava in drzave %}
<option value="{{ drzava }}" {% if izbrana_drzava == drzava %}selected{% endif %}>
{{ drzava }}
</option>
{% endfor %}
</select>


<button>
Prikaži
</button>


</form>



{% if tekmovalci %}


<table>


<tr>

<th>Ime</th>
<th>Priimek</th>
<th>Država</th>

</tr>



{% for t in tekmovalci %}


<tr>

<td>
<a
class="povezava-v-tabeli"
href="{{ url_for('profil', tekmovalec_id=t['tekmovalec_id']) }}"
>
{{ t["ime"] }}
</a>
</td>

<td>
<a
class="povezava-v-tabeli"
href="{{ url_for('profil', tekmovalec_id=t['tekmovalec_id']) }}"
>
{{ t["priimek"] }}
</a>
</td>

<td>
<a
class="povezava-v-tabeli"
href="{{ url_for('drzava', drzava=t['drzava']) }}"
>
{{ t["drzava"] }}
</a>
</td>


</tr>


{% endfor %}



</table>



{% endif %}



{% endblock %}
