{% extends "base.html" %}

{% block title %}
Iskanje rezultatov
{% endblock %}

{% block content %}

<div class="card">

<h1>Iskanje rezultatov</h1>

<p>
Izberi leto tekmovanja ter tekmovalca.
</p>

<form method="GET">

<p><strong>Leto:</strong></p>

<select name="leto" required>

<option value="">Izberi leto</option>

{% for leto in leta %}
<option value="{{ leto }}" {% if izbrano_leto|string == leto|string %}selected{% endif %}>
{{ leto }}
</option>
{% endfor %}

</select>

<br><br>

<p><strong>Ime in priimek:</strong></p>

<select name="tekmovalec_id" required>
<option value="">Izberi tekmovalca</option>
{% for tekmovalec in tekmovalci %}
<option
value="{{ tekmovalec['id'] }}"
{% if izbrani_tekmovalec_id == tekmovalec["id"] %}selected{% endif %}
>
{{ tekmovalec["ime"] }} {{ tekmovalec["priimek"] }}
</option>
{% endfor %}
</select>

<br><br>

<button type="submit">
Poišči rezultat
</button>

</form>

</div>


{% if rezultat %}

<div class="card">

<h2>Rezultat</h2>

<table>

<tr>

<th>Mesto</th>
<th>Ime</th>
<th>Priimek</th>
<th>Država</th>
<th>1. skok</th>
<th>2. skok</th>

</tr>

<tr>

<td>{{ rezultat["mesto"] }}</td>
<td>{{ rezultat["ime"] }}</td>
<td>{{ rezultat["priimek"] }}</td>
<td>{{ rezultat["drzava"] }}</td>
<td>{{ rezultat["skok_1"] }} m</td>
<td>{{ rezultat["skok_2"] }} m</td>

</tr>

</table>

</div>

{% elif iskano %}

<div class="card">

<h2>Rezultat ni bil najden</h2>

<p>
Tekmovalec v izbranem letu ni nastopal oziroma ga ni v bazi podatkov.
</p>

</div>

{% endif %}

{% endblock %}
