{% extends "base.html" %}

{% block title %}
Lestvica
{% endblock %}

{% block content %}

<div class="card">

<h1>Lestvica tekmovanja</h1>

<p>
Izberi leto tekmovanja in prikaži končno razvrstitev.
</p>

<form method="GET">

<p><strong>Leto:</strong></p>

<select name="leto" required>

<option value="">Izberi leto</option>

{% for mozno_leto in leta %}
<option value="{{ mozno_leto }}" {% if leto|string == mozno_leto|string %}selected{% endif %}>
{{ mozno_leto }}
</option>
{% endfor %}

</select>

<br><br>

<button type="submit">
Prikaži lestvico
</button>

</form>

</div>


{% if rezultati %}

<div class="card">

<h2>
Lestvica za leto {{ leto }}
</h2>

<table>

<tr>

<th>Mesto</th>
<th>Ime</th>
<th>Priimek</th>
<th>Država</th>
<th>1. skok</th>
<th>2. skok</th>

</tr>

{% for r in rezultati %}

<tr>

<td>{{ r["mesto"] }}</td>

<td>
<a
class="povezava-v-tabeli"
href="{{ url_for('profil', tekmovalec_id=r['tekmovalec_id']) }}"
>
{{ r["ime"] }}
</a>
</td>

<td>
<a
class="povezava-v-tabeli"
href="{{ url_for('profil', tekmovalec_id=r['tekmovalec_id']) }}"
>
{{ r["priimek"] }}
</a>
</td>

<td>
<a
class="povezava-v-tabeli"
href="{{ url_for('drzava', drzava=r['drzava']) }}"
>
{{ r["drzava"] }}
</a>
</td>

<td>{{ r["skok_1"] }} m</td>

<td>{{ r["skok_2"] }} m</td>

</tr>

{% endfor %}

</table>

</div>

{% endif %}

{% endblock %}
