{% extends "base.html" %}

{% block title %}
Profil tekmovalca
{% endblock %}

{% block content %}

<div class="card">

<h2>Profil tekmovalca</h2>

<form method="GET">

<label for="tekmovalec_id">Ime in priimek:</label>

<select id="tekmovalec_id" name="tekmovalec_id" required>
<option value="">Izberi tekmovalca</option>

{% for tekmovalec in tekmovalci_za_izbiro %}
<option
value="{{ tekmovalec['id'] }}"
{% if izbrani_tekmovalec_id == tekmovalec["id"] %}selected{% endif %}
>
{{ tekmovalec["ime"] }} {{ tekmovalec["priimek"] }}
</option>
{% endfor %}

</select>

<br><br>

<button>
Prikaži profil
</button>

</form>

{% if sporocilo %}

<div class="card">

<p>{{ sporocilo }}</p>

</div>

{% endif %}

</div>


{% if rezultati %}

<div class="card profil">

<img
class="slika-tekmovalca"
src="{{ url_for(
'static',
filename='slike/' +
rezultati[0]["ime"]|lower|replace(' ','_')
+ '_'
+ rezultati[0]["priimek"]|lower|replace(' ','_')
+ '.jpg'
) }}"

alt="{{ rezultati[0]['ime'] }} {{ rezultati[0]['priimek'] }}">


<h2>

{{ rezultati[0]["ime"] }}
{{ rezultati[0]["priimek"] }}

</h2>

<p>

<strong>Država:</strong>
<a
class="povezava-v-tabeli"
href="{{ url_for('drzava', drzava=rezultati[0]['drzava']) }}"
>
{{ rezultati[0]["drzava"] }}
</a>

</p>

</div>


<div class="card">

<h3>Vsi nastopi v Planici</h3>

<table>

<tr>

<th>Leto</th>
<th>Mesto</th>
<th>1. skok</th>
<th>2. skok</th>

</tr>

{% for r in rezultati %}

<tr>

<td>
<a
class="povezava-v-tabeli"
href="{{ url_for('stran_lestvica', leto=r['leto']) }}"
>
{{ r["leto"] }}
</a>
</td>
<td>{{ r["mesto"] }}</td>
<td>{{ r["skok_1"] }} m</td>
<td>{{ r["skok_2"] }} m</td>

</tr>

{% endfor %}

</table>

</div>

{% endif %}

{% endblock %}
