{% extends "base.html" %}

{% block title %}
Statistika
{% endblock %}

{% block content %}

<h2>Statistika tekmovalca</h2>

<form method="GET">

<label for="tekmovalec_id">Ime in priimek:</label>
<select id="tekmovalec_id" name="tekmovalec_id" required>
<option value="">Izberi tekmovalca</option>
{% for tekmovalec in tekmovalci_za_izbiro %}
<option
value="{{ tekmovalec['id'] }}"
{% if izbrani_tekmovalec_id == tekmovalec["id"] %}selected{% endif %}
>
{{ tekmovalec["ime"] }} {{ tekmovalec["priimek"] }}
</option>
{% endfor %}
</select>

<button>
Izračunaj
</button>

</form>

<!-- TO DODAJ -->
{% if sporocilo %}

<div class="card">
    <p>{{ sporocilo }}</p>
</div>

{% endif %}

{% if rezultat and rezultat[0] > 0 %}

<div class="card">

<h3>Rezultat</h3>

<p>
Število nastopov:
{{ rezultat[0] }}
</p>

<p>
Najboljša uvrstitev:
{{ rezultat[1] }}
</p>

<p>
Povprečna uvrstitev:
{{ "%.2f"|format(rezultat[2]) }}
</p>

</div>

{% endif %}
{% if graf %}

<h3>Uvrstitve skozi leta</h3>

<canvas id="graf"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

let leta = [
{% for g in graf %}
{{ g["leto"] }},
{% endfor %}
];


let mesta = [
{% for g in graf %}
{{ g["mesto"] }},
{% endfor %}
];


new Chart(
document.getElementById("graf"),
{

type: "line",
data: {
labels: leta,
datasets: [

{

label: "Uvrstitev",
data: mesta,
borderWidth: 3

}
]
},

options: {
scales: {
y: {

reverse: true,

beginAtZero: false
}
}
}
}
);

</script>

{% endif %}
{% endblock %}
