{% extends "base.html" %}


{% block title %}
Zmagovalci Planice
{% endblock %}



{% block content %}


<h2>Zmagovalci Planice</h2>



<table>


<tr>

<th>Leto</th>
<th>Zmagovalec</th>
<th>Država</th>

</tr>



{% for z in rezultat %}


<tr>

<td>
<a
class="povezava-v-tabeli"
href="{{ url_for('stran_lestvica', leto=z['leto']) }}"
>
{{ z["leto"] }}
</a>
</td>


<td>
<a
class="povezava-v-tabeli"
href="{{ url_for('profil', tekmovalec_id=z['tekmovalec_id']) }}"
>
{{ z["ime"] }} {{ z["priimek"] }}
</a>
</td>


<td>
<a
class="povezava-v-tabeli"
href="{{ url_for('drzava', drzava=z['drzava']) }}"
>
{{ z["drzava"] }}
</a>
</td>


</tr>



{% endfor %}



</table>



{% endblock %}
